.jumbotron {
	padding-top: 10rem;
	background-color: #e2edff;
	background-image: ;
}

#project {
	background-color: #e2edff;
}
.container a {
	text-decoration: none;
	color: black;
}
section {
	padding-top: 5rem;
}
footer {
	background-color: #e2edff;
}